.place-item__web {
	width: 456px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}	
  
 
@media all and (max-width: 1023px) {
	.place-item__web {
		width: 352px;
	}
  }  
  
  @media all and (max-width: 767px) {
	.place-item__web {
		width: 288px;
		margin: 0 16px;
	}
  }  
  