body{
  background: #E5E5E5;
}
.page {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
  background: #2A2C2F;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* div {
  border: 1px solid red;
} */
/*
@media screen and (max-width: 1280px) {
  .page{
    min-width: 800px;
    max-width: 1056px;
  }
}  
@media screen and (max-width: 1024px) {
  .page{
	  min-width: 568px;
	  max-width: 800px;
  }
}  
@media screen and (max-width: 768px) {
  .page{
	  min-width: 162px;
	  max-width: 568px;
  }  
}
@media screen and (max-width: 320px) {
  .page{
	  min-width: 162px;
	  max-width: 162px;
  }
}  
*/