.lead__title {
	padding: 0;
	width: 720px;
	margin: 0 auto;
	color: #FFFFFF;
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 100px;
	text-align: center;
	text-rendering: optimizeLegibility;
}


@media all and (max-width: 1280px) {
	.lead__title {
		width: 720px;
	}
  }  
  
  @media all and (max-width: 1024px) {
	.lead__title {
		width: 720px;
	}
  }  
  
  @media all and (max-width: 768px) {
	.lead__title {
		width: 288px;
		font-size: 40px;
		line-height: 44px;
	}
  }  
  
  @media all and (max-width: 425px) {
	.lead__title {
		width: 288px;
		font-size: 40px;
		line-height: 44px;
	}
  }