.place-item__title {
	margin: 0;
	padding: 0;
	color: #ffffff;
	width: 460px;

	font-family: inter;
	font-size: 72px;
	font-style: normal;
	font-weight: 900;
	line-height: 76px;
	letter-spacing: 0em;
	text-align: left;

}

 
@media all and (max-width: 1280px) {
	.place-item__title {
		width: 440px;
		font-size: 72px;
		font-weight: 900;
		line-height: 76px;
	}
  }  
 
@media all and (max-width: 1024px) {
	.place-item__title {
		width: 340px;
		font-size: 42px;
		font-weight: 900;
		line-height: 46px;
	}
  }  
  
  @media all and (max-width: 768px) {
	.place-item__title {
		width: 288px;
		margin: 0 auto;
		font-size: 32px;
		font-weight: 900;
		line-height: 35px;
	}
  }  
  
  @media all and (max-width: 425px) {
	.place-item__title {
		width: 288px;
		margin: 0 auto;
		font-size: 32px;
		font-weight: 900;
		line-height: 35px;
	}
  }