.intro__title {
	padding: 0;
	margin: 0;
	color: #FFFFFF;

	width: 690px;
	Font-family: Inter;
	Font-style: normal;
	font-weight: 900;
	Font-size: 54px;
	line-height: 58px;

	text-rendering: optimizeLegibility;
}


@media all and (max-width: 1024px) {
	.intro__title {
		width: 100%;
	}
  }  
  
  @media all and (max-width: 768px) {
	.intro__title {
		width: 100%;
		Font-size: 32px;
		line-height: 35px;
	}
  }  
  
  @media all and (max-width: 425px) {
	.intro__title {
		width: 100%;
		Font-size: 32px;
		line-height: 35px;
	}
  }